{% extends 'base.html.twig' %}

{%  block title %}SymphArt Articles {% endblock %}

{% block body %}
    {% if articles %}

            <table>
                <thead>
                    <th>Articel Title</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article }}</td>
                            <td><a href="/article/1" class="btn btn-dark">Show</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% else %}
        <p>No article to display</p>
    {% endif %}
{% endblock %}